<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <XConnect>
        <!-- SearchIndexer role requires Collection and CollectionSearch role services -->
        <SearchIndexer>
          <Services>
            <IndexerSettings>
              <Type>Sitecore.Xdb.Collection.Indexing.IndexerSettings, Sitecore.Xdb.Collection</Type>
              <LifeTime>Singleton</LifeTime>
              <Options>
                <IndexPIISensitiveData>false</IndexPIISensitiveData>
                <IndexAnonymousContactData>true</IndexAnonymousContactData>
              </Options>
            </IndexerSettings>
            <IIndexer>
              <Type>Sitecore.Xdb.Collection.Indexing.DecoratedIndexer, Sitecore.Xdb.Collection</Type>
              <As>Sitecore.Xdb.Collection.Indexing.IIndexer, Sitecore.Xdb.Collection</As>
              <LifeTime>Singleton</LifeTime>
            </IIndexer>
            <IIndexRebuildFlow>
              <Type>Sitecore.Xdb.Collection.Indexing.IndexRebuildFlow, Sitecore.Xdb.Collection</Type>
              <As>Sitecore.Xdb.Collection.Indexing.IIndexRebuildFlow, Sitecore.Xdb.Collection</As>
              <LifeTime>Singleton</LifeTime>
              <Options>
                <IncomingDataLagOnCompletion>0.00:00:05</IncomingDataLagOnCompletion>
                <!--Enable ParallelizationDegree setting to override default value which is (processorCount*4)-->
                <!--<ParallelizationDegree>16</ParallelizationDegree>-->
                <BatchSize>1000</BatchSize>
              </Options>
            </IIndexRebuildFlow>
          </Services>
        </SearchIndexer>
      </XConnect>
    </sitecore>
</configuration>